<html lang='ru'>
<head>
    <meta charset="utf-8" />
    <title>PsychoSchool</title>
</head>

<body>
<table width="660" border="0" cellpadding="0" cellspacing="0" align="center">
    <tbody>
    <tr>
        <td>
            <table width="660" border="0" cellpadding="0" cellspacing="0" align="center">
                <tbody>
                <tr>
                    <td width="100%" align="center" style="display:block; text-align:center; vertical-align:top; font-size:16px; min-width:100%;">
                        <!-- logo -->
                        <table align="center" width="100%" border="0" cellpadding="38px 0px 38px 0px" cellspacing="0">
                            <tbody>
                            <tr>
                                <td align="center">
                                    <a href="https://psychoschool.ru" style="text-decoration: none; color: black;">
                                        <img
                                            src="https://user-images.githubusercontent.com/23003955/149722674-ddfd8e53-1ec0-40e3-93a0-7dfedd1457f4.jpg"
                                            width="44" height="auto" alt="psychoschool" border="0"
                                        />

                                        <span style="font-size: 44px">
                                            PsychoSchool
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- main -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td width="4%"></td>
                                <!-- Content -->
                                <td width="92%">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <!-- Headline -->
                                        <tr>
                                            <td>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <!-- Spacer -->
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <table width="100%" cellpadding="0" cellspacing="0" align="center">
                                                                <tbody>
                                                                <tr>
                                                                    <td height="10"></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <!-- Headline -->
                                                    <tr>
                                                        <td align="left" style="font-size:50px;line-height:60px; font-weight: bold; color:#000000;font-family:serif;">
                                                            <span><strong>Подтверждение заказа</strong></span>
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        <!-- Divider Line -->
                                        <tr>
                                            <td>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom: 2px solid #000000;">
                                                    <!-- Spacer -->
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <table width="100%" cellpadding="0" cellspacing="0" align="center">
                                                                <tbody>
                                                                <tr>
                                                                    <td height="30"></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        <!-- Course Section -->
                                        <tr>
                                            <td>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <!-- Spacer -->
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <table width="100%" cellpadding="0" cellspacing="0" align="center">
                                                                <tbody>
                                                                <tr>
                                                                    <td height="30"></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <!-- Card -->
                                                    <tr>
                                                        <td width="48%" valign="top"
                                                            style="vertical-align:top;">
                                                            <table width="100%" border="0" cellspacing="0"
                                                                   cellpadding="0">
                                                                <!-- Course Title -->
                                                                <tbody>
                                                                <tr>
                                                                    <td style="text-align:left; padding:0px 0px 36px 0px;font-size: 24px; color: #000000;line-height:28px !important; word-wrap: break-word;" valign="top">
                                                                        <span><strong>{{course.title}}</strong></span>
                                                                    </td>
                                                                </tr>
                                                                <!-- CTA Button -->
                                                                <tr>
                                                                    <td align="left">
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <a
                                                                                        href="https://psychoschool.ru/course/{{course.url}}"
                                                                                        target="_blank"
                                                                                        style="padding: 13px 27px 13px 27px; font-size: 16px; color: #ffffff; text-decoration: none; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; background-color: #000000; display: inline-block;text-align:center;"
                                                                                    >
                                                                                        Начать курс
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td width="4%"></td>
                                                        <td width="48%" valign="top"
                                                            style="vertical-align:top;">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" valign="top">
                                                                <tbody>
                                                                <tr>
                                                                    <td width="100%" align="right" valign="top" style="vertical-align:top;">
                                                                        <img
                                                                            width="100%"
                                                                            valign="top"
                                                                            style="display:block; width:100%; max-width:240px;"
                                                                            alt="{{course.title}}"
                                                                            src="{{course.image}}"
                                                                        />
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        <!-- Divider Line -->
                                        <tr>
                                            <td>
                                                <table class="sectiondivider" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom: 2px solid #000000;">
                                                    <!-- Spacer -->
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <table width="100%" cellpadding="0"
                                                                   cellspacing="0" align="center">
                                                                <tbody>
                                                                <tr>
                                                                    <td height="30"></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        <!-- Receipt Section -->
                                        <tr>
                                            <td>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom: 1px solid #000000;">
                                                    <tbody>
                                                    <!-- Spacer -->
                                                    <tr>
                                                        <td>
                                                            <table width="100%" cellpadding="0"
                                                                   cellspacing="0" align="center">
                                                                <tbody>
                                                                <tr>
                                                                    <td height="30"></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <!-- Information Sections -->
                                                    <tr>
                                                        <td>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody>
                                                                <tr>
                                                                    <!-- left column -->
                                                                    <td width="48%" valign="top"
                                                                        align="left">
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="font-size: 20px; line-height:24px;">
                                                                                    <strong>Покупатель</strong>
                                                                                </td>
                                                                            </tr>
                                                                            <!-- Divider -->
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td style="padding: 5px 0 0 0;">
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="padding: 0 0 0 0; border-bottom: 1px solid #D9DADD;">
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="padding: 5px 0 0 0;">
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <!--/divider-->
                                                                            <tr>
                                                                                <td style="font-size: 16px; line-height:20px;">
                                                                                    <strong>Имя:&nbsp;</strong>{{user.firstName}}
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size: 16px; line-height:20px;word-break: break-all;">
                                                                                    <strong>Эл. почта:&nbsp;</strong>{{user.email}}
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size: 16px; line-height:20px;">
                                                                                    <strong>Дата покупки::&nbsp;</strong>{{ date }}
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>

                                                                    <!-- center spacer -->
                                                                    <td width="4%"></td>

                                                                    <!-- right column -->
                                                                    <td width="48%" valign="top" align="left">
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="font-size: 20px; line-height:24px;">
                                                                                    <strong>Продавец</strong>
                                                                                </td>
                                                                            </tr>
                                                                            <!-- Divider -->
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td style="padding: 5px 0 0 0;">
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="padding: 0 0 0 0; border-bottom: 1px solid #D9DADD;">
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="padding: 5px 0 0 0;">
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <!--/divider-->
                                                                            <tr>
                                                                                <td style="padding: 0 0 5px 0;">
                                                                                    PsychoSchool
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <!-- Spacer -->
                                                    <tr>
                                                        <td>
                                                            <table width="100%" cellpadding="0" cellspacing="0" align="center">
                                                                <tbody>
                                                                <tr>
                                                                    <td height="30"></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <!-- /Content -->
                                <td width="4%"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
